body{
	font-family: 'Source code pro', Calibri, serif;
	margin: 0px;
	padding: 0px;
}

nav{
	width: 100%;
	background-color: #424558;
}

nav > ul{
	margin: 0px;
	padding: 0px;
}

nav > ul::after{
	content: "";
	display: block;
	clear: both;
}

nav > ul > li{
	float: left;
	position: relative;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #FFF;
}

nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
}

nav li{
	list-style-type: none;
}

.submenu{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}

.submenu li{
	border-bottom: 1px solid #CCC;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.menu-accueil:hover{
	border-top: 5px solid #e44d26;
	background-color: RGBo(228, 77, 38, 0.15);
}

.menu-NosVideos:hover{
	border-top: 5px solid #0070bb;
	background-color: RGBo(000, 112, 192, 0.15);
}

.menu-contact:hover{
	border-top: 5px solid #f1dc4f;
	background-color: RGBo(241, 211, 79, 0.15);
}

.menu-NosVideos .submenu{
	background-color: RGB(000, 160, 240);
}

.submenu li:hover a{
	color: #EEE;
	font-weight: bold;
}

.menu-NosVideos .submenu{
	background-color: RGB(000, 115, 200);
}

			body {font-family: Arial;}
			* {box-sizing: border-box}

			/* Full-width input fields */
			input[type=text], input[type=mot de passe] {
				width: 100%;
				padding: 15px;
				margin: 5px 0 22px 0;
				display: inline-block;
				border: none;
				background: #f1f1f1;
			}

			input[type=text]:focus, input[type=Repeter le mot de passe]:focus {
				background-color: #ddd;
				outline: none;
			}

			hr {
				border: 1px solid #f1f1f1;
				margin-bottom: 25px;
			}

			/* Set a style for all buttons */
			button {
				background-color: #4CAF50;
				color: white;
				padding: 14px 20px;
				margin: 8px 0;
				border: none;
				cursor: pointer;
				width: 100%;
				opacity: 0.9;
			}

			button:hover {
				opacity:1;
			}

			/* Extra styles for the cancel button */
			.cancelbtn {
				padding: 14px 20px;
				background-color: #f44336;
			}

			/* Float cancel and signup buttons and add an equal width */
			.cancelbtn, .signupbtn {
			  float: left;
			  width: 50%;
			}

			/* Add padding to container elements */
			.container {
				padding: 16px;
			}

			/* Clear floats */
			.clearfix::after {
				content: "";
				clear: both;
				display: table;
			}

			/* Change styles for cancel button and signup button on extra small screens */
			@media screen and (max-width: 300px) {
				.cancelbtn, .signupbtn {
				   width: 100%;
				}
			}
